@import "../../styles/colors.scss";

.container-table {
  display: flex;
  flex-direction: column;
  & > nav {
    margin: auto 0 0 auto !important;
  }
}

table {
  margin-top: 1rem;
  & thead {
    background: $gray-color;
    & th {
      border: none !important;
      padding: 1rem 0.5rem !important;
    }
  }
  & td {
    padding: 0.5rem !important;
    border-top: none !important;
  }
  & tbody tr:nth-child(odd) {
    background: $light-gray-color;
  }
}

.page-item.active .page-link{
    background-color: $primary-color !important;
    color: $white-color !important;
}

.page-link{
    color: $primary-color !important;
}

.page-item.disabled .page-link{
    color: $dark-gray-color !important;
}
