@import "~@coreui/coreui/scss/coreui";
@import "./styles/colors.scss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

p,
h1,
h2,
h3,
h4,
span,
b {
  margin: 0;
}

.dropdown {
  & button:first-child {
    border-left: 2px solid $black-color;
    border-top: 2px solid $black-color;
    border-bottom: 2px solid $black-color;
    width: 100px;
  }
}

.dropdown-toggle,
input {
  border: 2px solid $black-color !important;
  color: $black-color !important;
}

.help-password {
  color: $red-color !important;
}

.dropdown-menu.show {
  min-width: 100% !important;
  border-radius: unset !important;
  border: 2px solid $black-color;
  transform: translate3d(0, 35px, 0px) !important;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  border-top-right-radius: 5px;
  position: relative;
  position: relative;
  border: 2px solid $black-color;
  border-bottom: 1px solid $black-color !important;
  border-right: none;
  border-radius: unset;
  background-color: $gray-color;
  border-right: none;
  color: $black-color;
  z-index: 1;
  &:hover {
    border: 2px solid $black-color;
    border-bottom: 1px solid $black-color !important;
  }
  &:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 107%;
    top: -2px;
    left: 2px;
    z-index: -1;
    border-right: 2px solid $black-color;
    border-bottom: 2px solid $black-color;
    border-top: 2px solid $black-color;
    border-top-right-radius: 4px;
    background-color: $gray-color;
    transform-origin: top left;
    -ms-transform: skew(15deg, 0deg);
    -webkit-transform: skew(15deg, 0deg);
    transform: skew(15deg, 0deg);
    border-bottom: 1px solid $black-color;
  }
  &.active {
    border: 2px solid $black-color !important;
    border-bottom: 1px solid $black-color !important;
    border-right: none !important;
    background-color: $light-gray-color;
    color: $black-color;
    z-index: 2;
    &:after {
      background-color: $light-gray-color;
    }
  }
}
